body {
    background-color: indianred;

}

h1 {
    font-family: fantasy;
    color:yellowgreen;
    font-variant: small-caps;
}

img {
width: 25%;
}

p {
    color:navy;
    font-size: 15px;
    font-family: fantasy;
}